* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    /* background-color: #007e7154; */
    /* background-color: #c2c2d6; */
    background-color: #87CEEB;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: #0072e4;
    font-size: 2rem;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}

.navbar-item {
    text-decoration: none;
    margin-right: 1rem;
    padding-left: 1.2rem;
    border-left: 4px solid #fff;
}

.navbar-item:link,
.navbar-item:visited {
    color: #fff;
}

.navbar-item:hover,
.navbar-item:active {
    color: #e10126;
    cursor: pointer;
}

.heading {
    margin-top: 4rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

.main-content {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-template-rows: 20rem 20rem;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.project-item {
    background-color: #e10126;
    width: 20rem;
    border: 2px solid #000;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: end;
    bottom: 0;
    width: 100%;
    background-color: #0072e4;
    color: #fff;
    font-size: 1.1rem;
    border-top: 2px solid #000;
}

.footer-item {
    margin-right: 1rem;
}

.footer a:link,
.footer a:visited {
    color: #fff;
}

.footer a:hover,
.footer a:active {
    color: #e10126;
    cursor: pointer;
}